[submodule "med_calendar_backend"]
	path = med_calendar_backend
	url = https://github.com/maxtop60/med-calendar-backend.git
[submodule "med-calendar-frontend"]
	path = med-calendar-frontend
	url = https://github.com/maxtop60/med-calendar-frontend.git